:root {
  --white: #fff;
  --black: #000;

  --green-100: #00bfa6;

  --gray-100: #7d7d7d;

  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --jamjuree: "Bai Jamjuree", sans-serif;
  --baloo: "Baloo 2", sans-serif;
}
