.container {
  padding: 50px 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 25px 50px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    padding: 25px 16px;
    justify-content: center;
  }

  &__wrapper-apresentation {
    display: flex;

    @media (max-width: 1024px) {
      text-align: center;
      width: 100%;
    }

    div {
      width: 50%;
      margin: auto;
    }

    h1 {
      margin: 15px 0;
      color: var(--white);
      font-size: 60px;
      font-family: var(--baloo);
    }
    h2:first-child {
      color: var(--green-100);
      font-family: var(--roboto);
      font-size: 30px;
    }
    h2 {
      color: var(--white);
      font-family: var(--roboto);
      font-size: 30px;
    }
  }
}
