.container {
  &__wrapper-apresentation {
    display: flex;
    padding: 50px 120px;
    background-color: var(--background1);

    @media (max-width: 1024px) {
      padding: 25px 50px;
      text-align: center;
    }
    @media (max-width: 768px) {
      padding: 25px 16px;
      justify-content: center;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    div:first-child {
      width: 60%;
      margin: auto;
      @media (max-width: 1024px) {
        margin: 0;
        width: 100%;
      }
    }

    div {
      width: 40%;
    }

    h1 {
      margin: 15px 0;
      color: var(--white);
      font-size: 60px;
      font-family: var(--baloo);
      @media (max-width: 1280px) {
        font-size: 45px;
        line-height: 60px;
      }
    }
    h2:first-child {
      color: var(--green-100);
      font-family: var(--roboto);
      font-size: 30px;
      @media (max-width: 1280px) {
        font-size: 20px;
      }
    }
    h2 {
      color: var(--white);
      font-family: var(--roboto);
      font-size: 30px;
      @media (max-width: 1280px) {
        font-size: 20px;
      }
    }
  }

  &__wrapper-sobreMim {
    background-color: var(--background2);
  }
}
